@import "~bootstrap/scss/bootstrap.scss";

#container {
    background-color: black;

    width: 100px;
    height: 190px;
    margin:auto;
    margin-top: 50px;
    padding: 7px;
    border-radius: 10px;
}

.light{
    width: 60px;
    height:60px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red{background-color: red;}
    &.yellow{background-color: yellow;}
    &.green{background-color: green;}
    &.selected{box-shadow:#f8ffcc 0px 0px 50px 20px;}
}

// .yellow .light{
//       padding: 10px 0px 10px 0px;
// }